In [1]:
import pandas as pd 
import numpy as np

In [ ]:
# Use this activity dataset to build an ML model to predict user activity based on watch sensor measurements.
# Use the predictor to predict the activity data in X_test.csv
# Submit the set of predictions as a csv file. 
# Follow the same steps we used in the end to end project in https://github.com/alhaol/ds-projects/blob/main/Proj_01_Iris/main.ipynb

In [9]:
df=pd.read_csv('Activity.csv',index_col=False).drop(columns=['Unnamed: 0'])

In [10]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,583,584,585,586,587,588,589,590,591,Activity
0,2135.236252,281.976538,-0.109396,875.771368,-0.123244,-0.281097,-0.265103,1897.816418,851.707715,0.217989,...,NaN,-0.606182,NaN,734.183280,0.871030,-0.399949,2135.236252,573.367937,352.125227,WALKING
1,2135.311377,281.974815,-0.147144,875.701796,-0.105104,-0.372639,-0.383011,1897.854053,851.639244,0.069007,...,125.017049,-0.668752,-0.521300,734.019049,0.826877,-0.324508,2135.311377,573.275864,352.027432,WALKING_UPSTAIRS
2,2135.368373,281.960616,-0.148159,875.971211,-0.049818,-0.500648,-0.108752,1898.014887,851.496415,0.137359,...,NaN,-0.462907,-0.225391,734.159391,0.714265,-0.492571,2135.368373,573.197053,352.033002,WALKING_UPSTAIRS
3,2135.263336,281.983004,-0.103230,875.016028,-0.988986,-0.991141,-0.985290,1897.010854,851.008325,-0.933950,...,125.000547,-0.997064,-0.984804,734.005127,-0.618741,-0.993283,2135.263336,573.000178,352.000020,LAYING
4,2135.281720,281.984030,-0.110049,875.007066,-0.994860,-0.995871,-0.993036,1897.006260,851.004576,-0.938318,...,NaN,-0.998858,-0.993022,734.005172,-0.692740,-0.993393,2135.281720,573.000099,352.000009,LAYING